body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1f1f1f;
    justify-content: center;
    text-align: center;
}

#piano-container {
    margin: auto;
    width: 1500px;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 400px;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#text {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 22px;
    resize: none;
    padding: 20px;
    margin: auto;
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    word-wrap: break-word;
}

#song-name {
    width: 30%;
    height: 30px;
    margin: auto;
    font-size: 29px;
    text-align: center;
}

.highlight-green {
    color: green;
}
.highlight-red {
    color: red;
}

textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
}

h1 {
    margin-bottom: 70px;
}

button {
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 25px;
}
